:root {
    --richblack: #0E1116;
    --ymblue: #374A67;
    --ultraviolet: #616283;
    --mountpink: #9E7B9B;
    --wisteria: #CB9CF2;
    --gray: #D3D3D3;
  }
  
  body {
    background-color: var(--gray);
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .header {
    text-align: center;
    background-color: var(--ultraviolet);
  }
  
  .headerTitle {
    color: white;
    font-size: 20px;
  }
  
  .nav {
    padding: 35px;
    display: flex;
    justify-content: center;
    background-color: var(--ymblue);
  }
  
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
  }
  
  .nav li {
    display: inline-block;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .nav-link {
    text-decoration: none;
    color: var(--wisteria);
    padding: 10px;
    border: 3px solid var(--ultraviolet);
    border-radius: 15px;
  }
  
  .nav-link:hover {
    color: white;
    background-color: var(--ultraviolet);
  }
  
  .nav-link.active {
    font-weight: bolder;
  }
  
  .aboutContainer {
    margin: auto;
    width: 75%;
    padding-bottom: 20px;
    line-height: 25px;
    color: var(--richblack);
  }
  
  .projects {
    margin-top: 20px;
  }
  
  .cardContainer {
    margin: auto;
    width: 75%;
    border: 5px solid var(--ymblue);
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f3f3f3;
  }
  
  .cardTitle {
    font-size: 30px;
  }
  
  .cardDescription {
    font-size: 15px;
  }
  
  .cardFooter {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    width: 80%;
    margin-bottom: 10px;
  }
  
  .cardFooter button {
    border-radius: 15px;
    padding: 20px 20px;
  }
  
  .cardFooter button a {
    text-decoration: none;
    font-size: 15px;
    color: white;
  }
  
  .cardFooter button:hover {
    color: white;
    background-color: var(--ymblue);
  }
  
  .formContainer {
    width: 75vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35vh;
    margin-top: 80px;
  }
  
  form {
    padding: 75px;
    background-color: var(--ymblue);
    border-radius: 5px;
  }
  
  form label {
    font-size: 20px;
    display: flex;
    font-weight: bold;
  }
  
  form div {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid black;
  }
  
  button {
    padding: 10px 20px;
    background-color: var(--wisteria);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 25%;
    margin: auto;
  }
  
  .resumeBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5%;
    padding: 50px;
    width: 75%;
    border: 5px solid var(--ultraviolet);
    background-color: var(--ymblue);
    color: white;
  }
  
  .resumeContainer {
    padding: 10px;
    height: 20vh;
    margin: auto;
  }
  
  .resumeButton {
    width: 50%;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: var(--wisteria);
  }
  
  .resumeButton:hover {
    background-color: var(--ultraviolet);
  }
  
  .skillsContainer {
    margin: auto;
    width: 40%;
    height: 25vh;
  }
  
  .footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 25px 0;
    width: 100%;
    color: white;
    background-color: var(--ultraviolet);
  }
  
  .footer a {
    padding: 10px 20px;
    text-decoration: none;
    background-color: var(--wisteria);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .footer a:hover {
    color: white;
    background-color: var(--ymblue);
  }
  
  .footer a.active {
    font-weight: bolder;
  }
  
  .envelope {
    font-size: 25px;
    margin: 10px;
  }
  
  .linkedin {
    font-size: 25px;
    margin: 10px;
  }
  
  .github {
    font-size: 25px;
    margin: 10px;
  }
  
  
  @media screen and (max-width: 768px) {
    
    .nav {
      padding: 20px;
    }
    
    .nav li {
      margin: 10px;
      display: flex;
      flex-direction: column;
    }
  
    .aboutContainer {
      width: 100%;
      margin: 5px;
    }
  
    .cardFooter button {
      padding: 10px;
      margin: 20px;
      width: 75%;
    }
  
    .formContainer {
      width: 50%;
      margin-bottom: 20px;
    }
  
    .formContainer button {
      width: 50%;
    }
  
    .resumeBody {
      width: 70%;
      display: flex;
      margin: 10px;
    }
  
    .resumeButton {
      width: 100%;
    }
  
    .skillsContainer {
      display: inline;
      height: 50%;
      width: 100%;
    }
  }
  
  
  
  